In [27]:
import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [28]:
df=pd.read_csv(r"C:\Users\User\OneDrive\Desktop\machine_learning\Medicalpremium.csv")

In [29]:
df.iloc[:,0:11]

,Age,Diabetes,BloodPressureProblems,AnyTransplants,AnyChronicDiseases,Height,Weight,KnownAllergies,HistoryOfCancerInFamily,NumberOfMajorSurgeries,PremiumPrice
0,45,0,0,0,0,155,57,0,0,0,25000
1,60,1,0,0,0,180,73,0,0,0,29000
2,36,1,1,0,0,158,59,0,0,1,23000
3,52,1,1,0,1,183,93,0,0,2,28000
4,38,0,0,0,1,166,88,0,0,1,23000
...,...,...,...,...,...,...,...,...,...,...,...
981,18,0,0,0,0,169,67,0,0,0,15000
982,64,1,1,0,0,153,70,0,0,3,28000
983,56,0,1,0,0,155,71,0,0,1,29000
984,47,1,1,0,0,158,73,1,0,1,39000
985,21,0,0,0,0,158,75,1,0,1,15000

# seperating Input and Ouput variable

In [31]:
x = df.drop(columns='PremiumPrice',axis=1)
y=df['PremiumPrice']

In [32]:
print(x)

     Age  Diabetes  BloodPressureProblems  AnyTransplants  AnyChronicDiseases  \
0     45         0                      0               0                   0
1     60         1                      0               0                   0
2     36         1                      1               0                   0
3     52         1                      1               0                   1
4     38         0                      0               0                   1
..   ...       ...                    ...             ...                 ...
981   18         0                      0               0                   0
982   64         1                      1               0                   0
983   56         0                      1               0                   0
984   47         1                      1               0                   0
985   21         0                      0               0                   0

     Height  Weight  KnownAllergies  HistoryOfCancerInFamily  \
0       155      57               0                        0
1       180      73               0                        0
2       158      59               0                        0
3       183      93               0                        0
4       166      88               0                        0
..      ...     ...             ...                      ...
981     169      67               0                        0
982     153      70               0                        0
983     155      71               0                        0
984     158      73               1                        0
985     158      75               1                        0

     NumberOfMajorSurgeries
0                         0
1                         0
2                         1
3                         2
4                         1
..                      ...
981                       0
982                       3
983                       1
984                       1
985                       1

[986 rows x 10 columns]

In [33]:
print(y)

0      25000
1      29000
2      23000
3      28000
4      23000
       ...
981    15000
982    28000
983    29000
984    39000
985    15000
Name: PremiumPrice, Length: 986, dtype: int64

# DATA SCALING

In [35]:
from sklearn.preprocessing import StandardScaler
scalar =  StandardScaler()
x.Age = scalar.fit_transform(x[['Age']])
x.Height = scalar.fit_transform(x[['Height']])
x.Weight = scalar.fit_transform(x[['Weight']])

# SPLITTING THE DATA INTO TRAINING AND TESTING

In [37]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.25, random_state=2)

In [38]:
x_train

,Age,Diabetes,BloodPressureProblems,AnyTransplants,AnyChronicDiseases,Height,Weight,KnownAllergies,HistoryOfCancerInFamily,NumberOfMajorSurgeries
706,-0.913240,0,0,0,0,-0.513479,-1.188839,0,0,0
859,-0.984892,1,0,0,0,-0.810713,-0.557609,0,0,0
968,-1.701415,0,0,0,0,-0.810713,-0.277062,0,0,0
465,0.448154,0,0,0,1,0.675460,-0.487472,0,0,0
89,-0.626630,0,0,0,1,-0.117166,-1.329113,0,0,0
...,...,...,...,...,...,...,...,...,...,...
534,-0.268369,0,1,0,0,-0.513479,0.284033,0,0,0
584,-1.056544,0,0,0,1,0.477304,0.915263,0,1,1
493,-0.841587,0,1,0,0,0.576382,-1.749933,0,0,1
527,0.018240,0,0,0,0,1.666243,0.494443,0,0,1
168,0.161545,0,0,0,0,0.675460,-0.277062,0,0,0

In [39]:
 x_test

,Age,Diabetes,BloodPressureProblems,AnyTransplants,AnyChronicDiseases,Height,Weight,KnownAllergies,HistoryOfCancerInFamily,NumberOfMajorSurgeries
817,1.666243,1,0,1,0,0.279147,1.195810,0,0,3
658,1.522938,0,0,0,0,0.180069,1.546494,0,0,0
970,0.304849,1,1,0,0,-0.018087,-0.136788,0,0,1
553,1.594590,0,1,0,0,1.269930,-0.136788,0,0,1
158,0.089892,0,0,0,0,-1.008870,3.089503,0,0,0
...,...,...,...,...,...,...,...,...,...,...
663,0.806415,1,0,0,0,-0.414400,-0.838156,1,0,1
107,-0.769935,0,0,0,0,1.963478,1.336084,1,0,1
317,0.806415,0,0,0,0,-1.207026,0.073622,0,0,0
783,1.522938,0,1,0,1,-0.909792,0.564580,1,0,1
431,-0.340021,0,1,0,0,-1.008870,-0.627745,0,0,1

In [40]:
y_train

706    15000
859    15000
968    15000
465    30000
89     21000
       ...
534    23000
584    25000
493    21000
527    23000
168    23000
Name: PremiumPrice, Length: 739, dtype: int64

In [41]:
y_test

817    28000
658    35000
970    23000
553    29000
158    23000
       ...
663    25000
107    23000
317    29000
783    30000
431    23000
Name: PremiumPrice, Length: 247, dtype: int64